/* Styling for css animated background gradient */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-45deg, #ff0000, #0022ff, #ff0000, #ffffff);
    background-size: 1600% 3200%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Styling for main site */

/* ASCII art style */
.art {
    background-color: #000;
    padding: 10px;
    display: flex;
    color: #FFF;
}

.art p {
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

/* Title graphic */
.title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    color: #FFF;
    outline: #000;
}

/* Styling for the formula container (div with all the formulas) */
.formulaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Styling for the generic box for each formula, add the class to each formula */
.formula {
    background-color: #f8f8f8;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    padding-right: 30px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

/* Edit these to change how each formula component looks */
.formula h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.formula label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.formula input {
    width: 98%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.formula button {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formula button:hover {
    background-color: #1d00fb;
}

.formula p {
    font-size: 24px;
    margin-top: 20px;
}

/* Future home of the footer style */
footer {
    height: 75px;
    width: 100vw;
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}